.layout {

    display: flex;
    min-height: 100vh; 
    gap: 20px; 
    padding: 20px;
    width:1100px;
    margin:auto;
    
    .col {
        padding: 20px;
    }

    .col-text {
        flex: 2; 
        background: #f9f9f9;
    }

    .col-calculator {
        flex: 1; 
        background: #fff;
        border-left: 2px solid #ddd;
    }
}
